.container{
  text-align: center;
}

body {
  background-color: rgba(0, 0, 255, 0.3);
}

h1{
  color: white;
}

#startgame {
  margin-top: 5px;
  margin-bottom: 10px;
}

#restartgame {
  display: none;
}

#game{
  z-index: 1;
  position: center;
}

.board {
  width: 400px;
  height: 400px;
  margin: auto;
}

.square{
  background-color: white;
  width: 100px;
  height: 100px;
  border: black 2px solid;
}

.square-x:before{
  /*background-image: url(img/x.png);*/
  /*z-index: 2;*/
  content: url(img/x.png);
}

.square-o:before{
  content: url(img/o.png);
}

.square:hover{
  background-color: rgba(0, 0, 255, 0.1);
}
